*, *::before, *::after {
   box-sizing: border-box;
   font-family: 'Varela Round', sans-serif;
   font-size: 30px;
}

:root {
   --hue-neutral: 200;
   --hue-wrong: 0;
   --hue-correct: 145;
   --border-hue-main: 350;
}


body {
   --hue: var(--hue-wrong);
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: hsl(var(--hue), 0%, 5%);
   color: white;
}

body.correct {
      --hue: var(--hue-correct);
}

body.wrong {
      --hue: var(--hue-wrong);
}

.container {
   width: 800px;
   max-width: 80%;
   background-color: hsl(var(--hue), 0%, 11%);
   padding: 30px 20px;
   border: 4px solid #C41F3B;
}

.btn-grid {
   display: grid;
   grid-template-columns: repeat(2, auto);
   gap: 10px;
   margin: 20px 0;
}

.btn {
   --border-hue: var(--border-hue-main);
   --hue: var(--hue-neutral);
   background-color: hsl(var(--hue), 0%, 30%);
   border: 1px solid hsl(var(--border-hue), 73%, 45%);
   padding: 5px 10px;
   color: white;
   outline: none;
}

.btn:hover {
   border-color: black;
}

.btn.correct {
   background-color: hsl(var(--hue), 50%, 40%);
   border: 2px solid hsl(var(--hue), 0%, 20%);
   --hue: var(--hue-correct);
   color: black;
}

.btn.wrong {
   --hue: var(--hue-wrong);
   background-color: hsl(var(--hue), 50%, 40%);
   border: 2px solid hsl(var(--hue), 0%, 20%);
}

#start-btn, #next-btn {
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px 20px;
}

.controls {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hide {
   display: none;
}